# problem statement
The goal of this assignment is to practice gathering and handling data through the use of public APIs, specifically focusing on NASA’s public APIs. As part of this exercise, I will be required to interact with NASA’s API portal to access and retrieve data from the Astronomy Picture of the Day (APOD) and NeoWs (Near Earth Object Web Service) endpoints. This involves generating an API key for authentication, making API requests to retrieve data, processing and cleaning the data to produce a well-structured DataFrame, and finally exporting the data into a CSV file for further use.

# Objective:
The primary objective of this exercise is to develop proficiency in consuming RESTful APIs for data collection. I will:

1. Learn to authenticate and request data from public APIs using an API key.
2. Practice retrieving and displaying multimedia content from a web API.
3. Process and structure data by extracting specific details from JSON responses.
4. Clean the data and format it into a structured DataFrame for analysis.
5. Export the cleaned data into a CSV file, which can be easily shared and analyzed further.

In [5]:
# key libs
import pandas as pd
import requests

In [6]:
# storing my API key
api_key = 'T0N63fkzWhbJdQAkUDgNHZIP32QxOSFfxJEqlj5f'

In [7]:
# Sending a Request to the APOD API to Retrieve the data and display the image

# APOD endpoint
apod_url = f'https://api.nasa.gov/planetary/apod?api_key={api_key}'

# Fetching data from the API
response = requests.get(apod_url)
apod_data = response.json()

# Displaying the image and its other information
print(f"Title: {apod_data['title']}")
print(f"Date: {apod_data['date']}")
print(f"Description: {apod_data['explanation']}")
print(f"Image URL: {apod_data['url']}")

Title: Comet Tsuchinshan-ATLAS Over the Lincoln Memorial
Date: 2024-10-14
Description: Go outside at sunset tonight and see a comet!  C/2023 A3 (Tsuchinshan–ATLAS) has become visible in the early evening sky in northern locations to the unaided eye. To see the comet, look west through a sky with a low horizon. If the sky is clear and dark enough, you will not even need binoculars -- the faint tail of the comet should be visible just above the horizon for about an hour.  Pictured, Comet Tsuchinshan-ATLAS was captured two nights ago over the Lincoln Memorial monument in Washington, DC, USA.  With each passing day at sunset, the comet and its changing tail should be higher and higher in the sky, although exactly how bright and how long its tails will be can only be guessed.   Growing Gallery: Comet Tsuchinsan-ATLAS in 2024
Image URL: https://apod.nasa.gov/apod/image/2410/CometA3Dc_Gilmore_1080.jpg

In [8]:
# displaying image in the notebook
from IPython.display import Image, display
display(Image(url=apod_data['url']))

Exploring the NeoWs API for Asteroid Data

In [9]:
 #Sending a Request to the NeoWs API to retrive the data and store it in a pandas df

# Setting the date range for the asteroid data
start_date = '2022-01-01'
end_date = '2022-01-07'
neows_url = f'https://api.nasa.gov/neo/rest/v1/feed?start_date={start_date}&end_date={end_date}&api_key={api_key}'

# Fetching data from the API
response = requests.get(neows_url)
neows_data = response.json()

Processing the Asteroid Data to Store it in a df

In [10]:
# Extracting the relevant data:

# Extract the asteroid details
asteroid_data = []
for date, asteroids in neows_data['near_earth_objects'].items():
    for asteroid in asteroids:
        asteroid_data.append({
            'Asteroid ID': asteroid['id'],
            'Asteroid Name': asteroid['name'],
            'Min Estimated Diameter (km)': asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'],
            'Absolute Magnitude': asteroid['absolute_magnitude_h'],
            'Relative Velocity (km/s)': asteroid['close_approach_data'][0]['relative_velocity']['kilometers_per_second']
        })

In [12]:
# converting the data to a df and showing first few rows
df_asteroids = pd.DataFrame(asteroid_data)
df_asteroids.head()

,Asteroid ID,Asteroid Name,Min Estimated Diameter (km),Absolute Magnitude,Relative Velocity (km/s)
0,2216523,216523 (2001 HY7),0.192555,20.70,13.0121883425
1,2494697,494697 (2004 SW55),0.186447,20.77,10.0478001196
2,2496860,496860 (1999 XL136),0.309425,19.67,16.7624360583
3,3311963,(2006 AL4),0.027578,24.92,9.4579600698
4,3401388,(2008 CO),0.080270,22.60,4.4645655825

In [15]:
# Exporting the df to a CSV file
df_asteroids.to_csv('asteroid_data.csv', index=False)
print("Data exported to 'asteroids.csv'")

Data exported to 'asteroids.csv'